.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    right: 10%;
}
.btn-1{
    color: #9D48E7;
}

.btn-2{
    color: #D0BDE9;
}